<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2 align-items-center">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                ticker
            </div>
            <div class=" h5 mb-0 font-weight-bold text-gray-800">
                {{strategy.stock.ticker}}
            </div>

        </div>

    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2 align-items-center">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Long Avg
            </div>
            <div class=" h5 mb-0 font-weight-bold text-gray-800">
                {{strategy.longAvgSeconds}}
            </div>
        </div>

    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2 align-items-center">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                short Avg
            </div>
            <div class=" h5 mb-0 font-weight-bold text-gray-800">
                {{strategy.shortAvgSeconds}}
            </div>
        </div>

    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-primary shadow h-100 py-2 align-items-center">
            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                Profit
            </div>
            <div class=" h5 mb-0 font-weight-bold text-gray-800">
                {{strategy.profit}}
            </div>
        </div>

    </div>
</div>

<div class="container">

    <div class="card table-sm">
        <table class="table-striped">
            <thead class="">
                <tr>
                    <th>ID</th>
                    <th>Price</th>
                    <th>Size</th>
                    <th>Buy/Sell</th>
                    <th>State</th>
                    <th>Last State Change</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let trade of strategySpecificTrades | slice: 1:20">
                    <td>{{ trade["id"] }}</td>
                    <td>{{ trade["price"] }}</td>
                    <td>{{ trade["size"]}}</td>
                    <td>{{ trade["tradeType"] }}</td>
                    <td>{{ trade["state"] }}</td>
                    <td>{{ trade["lastStateChange"] }}</td>
                </tr>

            </tbody>
        </table>
    </div>
    <div class="card graph">
        <canvas [attr.id]="'myChart' + strategy.id"></canvas>
    </div>
</div>