<div class="container">
  <h3>Enter Strategy Data:</h3>
  <form #f="ngForm" (ngSubmit)="createStrategy(strategy)">

    <div class="form-group">
      <label>Stock:</label>
      <!-- <select class="form-control-sm" name="stock" [(ngModel)]="strategy.stock.ticker" required>
        <option>AAPL</option>
      </select> -->
      <input type="text" class="form-control-sm" name="stock" [(ngModel)]="strategy.stock.ticker" required>
    </div>

    <div class="form-group">
      <label>Size:</label>
      <input type="number" class="form-control-sm" [(ngModel)]="strategy.size" name="size" required>
    </div>

    <div class="form-group">
      <label>Exit Profit Loss:</label>
      <input type="number" class="form-control-sm" [(ngModel)]="strategy.exitProfitLoss" name="exitProfitLoss" required>
    </div>
    <br>
    <div class="form-group">
      <label>Max Trades:</label>
      <input type="number" class="form-control-sm" [(ngModel)]="strategy.maxTrades" name="maxTrades" required>
    </div>

    <div class="form-group">
      <label>Long Average Duration:</label>
      <input type="number" class="form-control-sm" [(ngModel)]="strategy.longAvgSeconds" name="longAvgDuration"
        required>
    </div>

    <div class="form-group">
      <label>Short Average Duration:</label>
      <input type="number" class="form-control-sm" [(ngModel)]="strategy.shortAvgSeconds" name="shortAvgDuration"
        required>
    </div>

    <div>
      <button type="submit" class="btn btn-dark" [disabled]="!f.valid">Create Strategy</button>
    </div>

  </form>
</div>