<div class="container">
  <a [routerLink]="['form']">
    <button type="submit" class="btn btn-dark" style="margin: 5px;">Create Strategy</button>
  </a>
  <a [routerLink]="['strategy']">
    <button type="submit" class="btn btn-dark" style="margin: 5px;">View Strategies</button>
  </a>
</div>