<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <div>
        <app-menu-bar></app-menu-bar>
    </div>
    <div class="content">
        <h1>Ignosi Trading App</h1>
        <router-outlet class="container"></router-outlet>
    </div>
</div>