<div class="container" id="strategyWrapper">
    <div *ngIf="(!isLoading)">
        <div *ngIf="(strategies.length > 0)">
            <div class="strat-row" *ngFor="let strategy of strategies; let i = index">
                <div class="card">
                    <div class="card-header" [attr.id]="'heading' + i">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse"
                                [attr.data-target]="'#collapse' + i" aria-expanded="true"
                                aria-controls="'collapse' + i">
                                Strategy | ID: {{strategy.id}} Stock: {{strategy.stock.ticker}}
                            </button>
                            <span *ngIf="strategy.stopped == null">
                                <i class="fa fa-stop-circle clickable" data-toggle="tooltip" title="Stop Strategy"
                                    (click)="stopStrategy(strategy.id)"></i>
                            </span>
                            <span *ngIf="strategy.stopped != null">
                                <small>stopped</small>
                            </span>
                        </h2>
                    </div>
                    <div [attr.id]="'collapse'+ i" class="collapse show">
                        <div class="card-body">
                            <app-trade [strategy]="strategy"></app-trade>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div *ngIf="(!strategies.length > 0)">
            <h4 class="muted">No Strategies to Show :(</h4>
            <a [routerLink]="['form']">
                <button type="submit" class="btn btn-dark" style="margin: 5px;">Create Strategy</button>
            </a>
        </div>

    </div>

</div>