.strat-row{
    margin: 5px;
}

.btn-link{
    text-decoration:none;
    color: green;
    font-weight: 500;
}

.clickable {
    cursor: pointer;
}

i {
    width: 20px !important;
    height: 20px !important;
}

span {
    float: right;
    margin-left: 20px;
    color: red;
}

small {
    font-size: 10px;
    display: inline;
}