<div>
    <nav class="sidenav">

        <a [routerLink]="['home']">
            <h5 style="display: inline; padding-right: 5px;">Ignosi</h5>
            <i class="fas fa-brain"></i>
        </a>

        <hr class="sidebar-divider my-0">

        <a [routerLink]="['strategy']">
            <i class="fas fa-chart-line"></i>
            <span>Strategies</span>
        </a>
        <hr class="sidebar-divider my-0">

        <a [routerLink]="['form']">
            <i class="far fa-edit"></i>
            <span>New Strategy</span>
        </a>

    </nav>
</div>