.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(58, 58, 58);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 16px;
    text-decoration: none;
    font-size: 15px;
    color: #d3d3d3;
    display: block;
    margin-left: 10px;
  }
  
.sidenav a:hover {
    color: #f1f1f1;
}

hr{
    display: block;
    unicode-bidi: isolate;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 170px;

}

.sidebar-divider {
    border-top: 1px solid rgba(226, 221, 221, 0.329);
}

i {
    margin-right: 8px;
}
